# Python specific
*.pyc

# Jupyter
.ipynb_checkpoints

# PyCharm
.idea

# All bulk metadata GZ files
*.gz

# Full collection 1 bulk metadata CSV files
LANDSAT_8_C1.csv
LANDSAT_ETM_C1.csv
LANDSAT_TM_C1.csv

# Quicklooks JPEGs
*.jpg
