# Python specific
*.pyc

# Jupyter
.ipynb_checkpoints

# PyCharm
.idea

# All bulk metadata GZ files
*.gz

# Full Collection 1 bulk metadata CSV files
LANDSAT_8_C1.csv
LANDSAT_ETM_C1.csv
LANDSAT_TM_C1.csv

# Full Collection 2 bulk metadata CSV files
LANDSAT_OT_C2_L1.csv
LANDSAT_ETM_C2_L1.csv
LANDSAT_TM_C2_l1.csv

# Filtered CSV files
*_filter.csv

# Quicklook JPEGs
*.jpg
